body {
  margin: 0;
  background-color: #99bbff;
}

.sidebar {
  width: 20%;
  background-color: white;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 10%;
  text-decoration: none;
  text-align: center;
}
 
.sidebar a.active {
  background-color: #002b80;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 23%;
  padding: 1px 16px;
  height: 500px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left; padding: 2%;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
    padding: 2%
  }
}

button{background-color:#002b80 ;color: white;border: none;padding: 7px 40px;text-align: center; border-radius: 10px;}
button:hover{background-color: red;}