ul {
  list-style: none;
  overflow: hidden;
  margin-top: 0px;
  background-color: #002b80;
  position: fixed;
  top: 0;
  box-sizing: border-box;
  width: 100%;
  margin-left: 225px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

li {
  float: right;
  display: inline;
  color: white;
  text-align: center;
  text-decoration: none;
}